@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,100;1,200;1,500&family=Poppins:ital,wght@0,200;1,200&family=Roboto+Condensed:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("./assets/bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reveal{
    opacity: 0;
    transform: translateY(60px);
}
.reveal.active{
    opacity: 1;
    transform: translateY(0);
    transition: all 1.2s ease-in-out;
}

