#about{
    width: 100%;
    color:#fff;
}
.about-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 10px auto;
}
.content1{
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.content1 h1{
    position: relative;
    font-weight: bolder;
    font-size: 1.5rem;
}
.content1 h1::after{
    content: '';
    width: 120px;
    height: 2px;
    position: absolute;
    top: 17px;
    margin-left: 20px;
    background: rgb(0, 255, 234);
}
.content1 p{
    margin-top: 20px;
}
.content1 p a{
    color: rgb(0, 255, 234);
}
.tabs{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 40px;
}
.tab-titles{
    color: #fff;
    font-size: 1.2rem;
    position: relative;
    font-weight: bolder;
    cursor: pointer;
    transition: all .5s;
}
.tab-titles.active{
    color: rgb(0, 255, 234);
}
.tab-titles::before{
    content: '';
    width: 0;
    height: 0;
    background: rgb(0, 255, 234);
    position: absolute;
    top: 5px;
    left: -8px;
    transition: 0.5s;
}
.tab-titles.active::before{
    width: 3px;
    height: 70%;
}
.tab-contents{
    width: 100%;
    display: none;
    opacity: 0;
    transition: all .8s;
}
.tab-contents.active-tab{
    display: block;
    opacity: 1;
}
.tab-contents ul{
    padding-top: 10px;
}
.tab-contents ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .8rem;
    margin-bottom: .8rem;
}
.tab-contents .stack h2{
    font-size: 1rem;
    font-weight: bold;
}
.tab-contents .stack span{
    font-size: .8rem;
    color:rgb(0, 255, 234);
    margin-right: 5px;
}
.progress{
    width: 45%;
    height: 5px;
    border: 1px solid rgba(0, 255, 127, .2) ;
    position: relative;
    border-radius: 5px;
}
.range{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(0, 255, 234);
}
.range.one{
    width: 90%;
}
.range.two{
    width: 80%;
}
.range.three{
    width: 80%;
}
.range.four{
    width: 70%;
}
.range.five{
    width: 80%;
}

/* -------------RESPONSIVENESS FOR ABOUT-SECTION----------------- */
@media screen and (max-width: 800px){
    .content1{
        flex-basis: 100%;
    }
    .content1 p{
        font-size: small;
    }

}

@media screen and (max-width: 350px){
    .tabs{
        width: 90%;
    }
}

