#contact{
    display: flex;
    align-items: center;
    background: #1b2736;
    width: 100%;
    overflow: hidden;
}
.contact-box{
    padding: 20px 30px;
    color: #fff;
    width: 100%;
}
.contact-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.socials{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.col-1{
    display: block;
    flex-basis: 35%;
    color: #fff;
}
.col-1 h2{
    margin-bottom: 10px;
    color: rgb(0, 255, 234);
}
.col-1 p {
    margin: 5px 0;
    padding: 10px 0;
}
.col-1 a{
    color: #fff;
}
.col-1 a i, .col-1 p i{
    margin-right: 10px;
    color: rgb(0, 255, 234);
}

.col-1 .socials a{
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 1.3rem;
}
.col-1 .socials a:hover, .col-1 .file:hover{
    color:rgba(0, 255, 234, .8);
    transition: 0.5s;
}
.col-2{
    flex-basis: 60%;
}
.col-2 form button{
    background: rgb(0, 255, 234, .3);
    padding: 10px 20px;
    margin: 2px auto;
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}
.col-2 form button:hover{
    background: rgb(0, 255, 234, .6);
}
.col-1 .file, .content2 .file{
    background:  rgba(0, 255, 234, .3);
    padding: 10px 20px;
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}
.content2 .file{
    margin: 5px 0;
    transition: background 0.5s;
}
.content2 .file:hover, .col-1 .file:hover{
    background:  rgba(0, 255, 234, .6) ;
    color: #fff;
}
#msg{
    color: rgb(0, 255, 234);
    margin-top: -30px;
    font-size: 13px;
}
@media screen and (max-width: 800px){
    .col-1, .col-2{
        flex-basis: 100%;
    }
    .col-2{
        margin-top: 30px;
    }
    .col-1 h2, .col-2 h2{
        font-size: 1.1rem;
    }
    .contact-content{
        justify-content: center;
        width: 95%;
    }
    #msg{
        font-size: smaller;
    }
    .content2 .file{
        float: right;
    }
}

