#header{
    width: 100%;
    height: 100vh;
    
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .text{
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    height: 100%;
}
#header .text h1{
    transform: translateY(120px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}
#header .text h1.active{
    transform: translateY(-50px);
    opacity: 1;
    margin: 6px 0;
}
#header .text h1.active span{
    transform: translateY(0px);
    opacity: 1;
}
#header .text h1:nth-child(1){
    padding-bottom: 20px;
    color: rgb(0, 255, 234);
    font-size: 2.5rem;
}
#header .text h1:nth-child(2){
    transition-delay: 1s;
    font-size: 1.1rem;
}
#header .text h1:nth-child(3){
    transition-delay: 2s;
    font-size: 1.3rem;
}
#header .text h1:nth-child(4){
    transition-delay: 3s;
    font-size: 1.3rem;
}


/* TEXT REVEAL ANIMATION*/
#header .text h1:nth-child(3) span{
    color: transparent;
    font-weight: bolder;
    background-image: linear-gradient(#fff 30%, rgb(0, 255, 234) 70%);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    background-position: -300px 0px ;
    animation: backcolor 3s linear;
    animation-delay: 1.5s;
    font-size: 1.6rem
}
#header .text h1:nth-child(4) span{
    color: transparent;
    font-weight: bolder;
    background-image: linear-gradient(rgb(0, 255, 234), rgb(0, 255, 234));
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-position: -700px 0px ;
    animation: backcolor 4s linear;
    animation-delay: 2s;
    font-size: 26px;
}
@keyframes backcolor{
    100%{
        background-position: 0 0; 
        background-repeat: no-repeat;
        color: transparent;
    }
}
/*RESPONSIVENESS FOR HEADER */
@media screen and (max-width: 800px)  {
    #header .text h1{
        font-size: 1.5rem;
    }
    #header .text h1:nth-child(1){
        font-size: 1.9rem;
    }
    #header .text h1:nth-child(3) span{
        font-size: 1.7rem;
    }
    .mobile-menu{
        display: grid;
        row-gap: 4px;
        margin: 0 20px;
        width: 30px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        height: 30px;
    }
    .mobile-menu span{
        background: #fff;
        width: 100%;
        height: 4px;
        position: relative;
        cursor: pointer;
        display: block;
        transition: all 0.5s ease;
    }
    .mobile-menu span:nth-child(2){
        width: 18px;
    }
    .mobile-menu span:nth-child(3){
        width: 10px;
    }
    .mobile-menu.is-active span:nth-child(2){
        opacity: 0;
        transition: 0.5s;
    }
    .mobile-menu.is-active span:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
        width: 100%;
    }
    .mobile-menu.is-active span:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
        transition: 0.5s;
        width: 100%;
    }
    #header .text h1:nth-child(1){
        transition-delay: 0s;
    }
    #header .text h1:nth-child(2){
        transition-delay: 1s;
    }
    #header .text h1:nth-child(3){
        transition-delay: 2s;
    }
    #header .text h1:nth-child(4){
        transition-delay: 3s;
    }
    #header .text h1:nth-child(3) span, #header .text h1:nth-child(4) span{
        animation-delay: 1.9s;
    }
    #header .text h1:nth-child(4) span{
        animation-delay: 2.3s;
    }
    #header{
        overflow: visible;
    }
    
}