.navigation{
    height: 80px;
    width: 100%;
    background: #1b2736;
    position: sticky;
    top: 0;
    z-index: 999;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    background: #1b2736;
    height: 100%;
}
.logo{
    align-self: center;
    margin-left: 10px;
}
.logo h3 a{
    font-size: 1.8rem;
    color: rgb(0, 255, 234);
    font-weight: 800px;
    padding: 5px 10px;
    box-shadow: 0 0 3px #00c6ff;
    border-radius: 10px;
}
.logo a span{
    color:  rgb(0, 255, 127);;
}
.logo a img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
nav .hr{
    background: #00c6ff;
    width: 80%;
    height: 2px;
    margin: 0 auto;
}
nav .menu{
    display: block;
    background: #1b2736;
    right: 0px;
    height: 100vh;
    width: 0;
    position: absolute;
    top: 100%;
    transition:  0.5s ease;
    overflow: hidden;
}
nav .menu.active{
    display: block;
    background: #1b2736;
    right: 0px;
    height: 100vh;
    width: 30%;
    position: absolute;
    top: 100%;
    transition:  0.5s ease;
    z-index: 999;
}
nav .menu li{
    display: flex;
    margin: 50px 0px;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    font-weight: bolder;
    transition: color .5s;
}
nav .menu .connect{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
nav .menu .connect a:hover{
    color: rgb(0, 255, 234);
}

nav .menu li .link{
    position: relative;
}
nav .menu li .link.active {
    color: rgb(0, 255, 234);
}
nav .menu li .link::after{
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    position: absolute;
    background: rgb(0, 255, 234);
    bottom: -2px;
    transition: 0.2s ease;
}
nav .menu li .link:hover::after{
    width: 100%;
}

.mobile-menu{
    display: grid;
    row-gap: 4px;
    margin: 0 20px;
    width: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    height: 30px;
}
.mobile-menu span{
    background: #fff;
    width: 100%;
    height: 4px;
    position: relative;
    cursor: pointer;
    display: block;
    transition: all 0.5s ease;
}
.mobile-menu span:nth-child(2){
    width: 18px;
}
.mobile-menu span:nth-child(3){
    width: 10px;
}
.mobile-menu.is-active span:nth-child(2){
    opacity: 0;
    transition: 0.5s;
}
.mobile-menu.is-active span:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
    width: 100%;
}
.mobile-menu.is-active span:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
    transition: 0.5s;
    width: 100%;
} 