#projects{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(space.jpg);
    background-position: center;
    background-size: center;
    background-attachment: fixed;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.project-container{
    width: 90%;
    margin: 0 auto;
}
.project-container h1{
    position: relative;
    color: #fff;
    margin: 10px 0;
}
.project-container  h1::after{
    background: rgb(0, 255, 234);
    content: '';
    width: 120px;
    height: 2px;
    position: absolute;
    margin-left: 20px;
    top: 14px;
}
.project-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    width: 100%;
}
.project{
    position: relative;
    overflow: hidden;
    box-shadow: 0 0px 5px  #141414;
    border-radius: 10px;
}
.project:nth-child(1), .project:nth-child(2), .project:nth-child(3),
.project:nth-child(4){
    display: block;
}
.project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}
.project-layer-wrapper{
    position: absolute;
    height: 0;
    width: 100%;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgb(0,0,0,0.7));
    overflow: hidden;
    transition: height 0.5s;
    left: 0;
    bottom: 0;
}
.project-layer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
.project-layer h3{
    margin: 5px 0;
    color: #fff;
    font-size: 14px;
}
.project-layer p{
    font-size: 10px;
}
.project-layer a{
    color: #fff;
    font-size: 1rem;
    margin:auto;
}
.project:hover img{
    transform: scale(1.02);
}
.project:hover .project-layer-wrapper{
    height: 100%;
}
.project-layer .tools{
    margin: 5px 0;
    text-align: center;
}
.project-layer .tools h3{
    color:bisque;
    margin-bottom: 5px;
}
.project-layer .tools img{
    width: 30px;
    height: 30px;
    display: flex;
    position: relative;
    margin: 5px;
}
.tool-img{
    display: flex;
    justify-content: center;
}
.more{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    position: relative;
} 
.more button{
    background: #141414;
    padding: 10px 40px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s, color .5s;
}
.more button:hover{
    background: #524e4e;
    color: #fff;
}
@media screen and (max-width: 800px){
    .project-content{
        flex-wrap: wrap;
    }
    .project-container{
        width: 95%;
    }
    .project{
        width: 100%;
        height: 250px;
        margin: 10px auto;
    }
    .project-layer a{
        font-size: 1.2rem;
    }
    .project:nth-child(4){
        display: none;
    }
    .project-container  h1::after{
        right: 45%;
    }
}
@media screen and (max-width: 600px){
    .project-content{
        width: 95%;
    }
    .project{
        width: 100%;
    }
    .project-container h1{
        text-align: center;
        font-size: 1rem;
    }
    .project-container h1::after{
        right: 75%;
        top: 8px;
    }
}
@media screen and (max-width: 500px){
    .project-content{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .project{
        width: 100%;
    }
    .project-container h1::after{
        width: 70px;
        right: 80%;
    }
}
@media screen and (max-width: 360px) {
    .project-container h1::after{
        width: 50px;
    }
}