#projects{
    background: #1b2736;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.project-container{
    width: 90%;
    margin: 50px auto;
}
.project-container h1{
    position: relative;
    color: #fff;
    font-weight: bolder;
    margin: 10px 0;
    font-size: 1.5rem;
}
.project-container  h1::after{
    background: rgb(0, 255, 234);
    content: '';
    width: 120px;
    height: 2px;
    position: absolute;
    margin-left: 20px;
    top: 16px;
}
.project-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
}
.project{
    position: relative;
    overflow: hidden;
    box-shadow: 0 0px 5px  #141414;
    border-radius: 10px;
}
.project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}
.project-layer-wrapper{
    position: absolute;
    height: 0;
    width: 100%;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgb(0,0,0,0.7));
    overflow: hidden;
    transition: height 0.5s;
    left: 0;
    bottom: 0;
}
.project-layer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.project-layer h2{
    padding: 3px 0;
    color: rgb(0, 255, 234);
    font-size: 1rem;
}
.project-layer p{
    font-size: 10px;
    width: 100%;
}
.project-layer a{
    color: #fff;
    font-size: 1rem;
    margin: auto;
}
.project:hover img{
    transform: scale(1.05);
}
.project:hover .project-layer-wrapper{
    height: 100%;
}
.project-layer .tools h3{
    color:bisque;
    margin-bottom: 5px;
    text-align: center;
}
.project-layer .tools img{
    width: 25px;
    height: 25px;
    position: relative;
    margin: 5px;
    object-fit: cover;
    border-radius: 5px;
}
.tool-img{
    display: flex;
    justify-content: center;
}
.more{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    position: relative;
} 
.more button{
    background: #141414;
    padding: 10px 40px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s, color .5s;
}
.more button:hover{
    background: #524e4e;
    color: #fff;
}
@media screen and (max-width: 800px){
    .project-layer a{
        font-size: 1.2rem;
    }
    .project-layer p{
        font-size: 7px;
    }
    .project-content{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .project-layer{
        justify-content: flex-start;
    }
    .project-layer i{
        font-size: .7rem;
    }
    .project-layer .tools img{
        width: 20px;
        height: 20px;
    }

}

