.stacks-container{
    width: 90%;
    margin: 0px auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    transform: translateX(30px);
    animation: swing 4s linear infinite;
    transition: transform 1.5s ease-in-out;
}
.stack-item{
    width: 80px;
    height: 80px;
    margin: 10px;
}
.stack-item img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

@keyframes swing {
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(8px);
    }
    50%{
        transform: translateX(16px);
    }
    75%{
        transform: translateX(24px); 
    }
    100%{
        transform: translateX(30px);

    }
}

@media screen and (max-width: 680px) {
    .stack-item{
        width: 50px;
        height: 50px;
    }
}